@keyframes layer-enter {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes layer-exit {
    to {
        opacity: 0;
    }
}

.layerEnter {
    animation: layer-enter 0.9s ease-out both;
}

.layerExit {
    animation: layer-exit 0.8s ease-out both;
}